<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<div th:replace="fragments/header"></div>
</head>
<body>
	
	<div th:replace="fragments/nav"></div>
	
	<div class="layout-main">	
	
		<div th:replace="fragments/sidebar"></div>	
		
		<section class="layout-content">
			
			<div class="container" id="cadastro">
				
				<div th:replace="fragments/alerts"></div>
			
	            <form th:action="${cargo.id == null} ? @{/cargos/salvar} : @{/cargos/editar}" 
	            		th:object="${cargo}" method="POST">
	            		
	            	<div th:replace="fragments/validacao"></div>
	            	
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">Nome do Cargo</label>
	                        <input type="text" class="form-control" id="nome" placeholder="Nome Cargo" autofocus="autofocus"
	                               th:field="*{nome}"/>
	                    </div>
	                    <div class="form-group col-md-4">
	                        <label for="departamento">Departamento</label>
	                        <select id="departamento" class="form-control" th:field="*{departamento}">
	                            <option value="">Selecione</option>
	                            <option th:each="d : ${departamentos}" th:value="${d.id}" th:text="${d.nome}">Administração</option>
	                        </select>
	                    </div>
	                </div>
	                <input type="hidden" id="id" name="id" th:field="*{id}" />
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
			
		</section>		
	
	</div> 
	
	<div th:replace="fragments/footer"></div>

	
</body>
</html>
	        
	   

