<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<div th:replace="fragments/header"></div>
</head>
<body>
	
	<div th:replace="fragments/nav"></div>
	
	<div class="layout-main">	
	
		<div th:replace="fragments/sidebar"></div>		
		
	    <section class="layout-content">
	
	        <div class="container" id="cadastro">
	        
	        	<div th:replace="fragments/alerts"></div>
	        	
	            <form th:action="${departamento.id == null} ? @{/departamentos/salvar} : 
	            				@{/departamentos/editar}" th:object="${departamento}" method="POST">
	                
	                <div th:replace="fragments/validacao"></div>
	                
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">Departamento</label>
	                        <input type="text" class="form-control" id="nome"
	                               placeholder="Nome Departamento" th:field="*{nome}" autofocus="autofocus"/>
	                    </div>
	                </div>
	                
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>

		</section>		
	
	</div> 
	
	<div th:replace="fragments/footer"></div>

	
</body>
</html>

	
	    