<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<div th:replace="fragments/header"></div>
</head>
<body>
	
	<div th:replace="fragments/nav"></div>
	
	<div class="layout-main">	
	
		<div th:replace="fragments/sidebar"></div>	
				
		<section class="layout-content text-center">			
			
			<h1 class="h3 mb-3 font-weight-normal">
				<i class="oi oi-warning"></i>
				<span th:text="${status}"></span>
			</h1>
			
			<h2 th:text="${error}"></h2>
			
			<div>
				<span th:text="${message}"></span><br /> <br />
				<a class="btn btn-primary" type="button" href="javascript:history.back()">
					Voltar a pagina anterior.
				</a>
			</div>
			
		</section>		
	
	</div> 
	
	<div th:replace="fragments/footer"></div>

	
</body>
</html>